*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #444cf7;
    --color-title:rgb(20, 2, 71);
    --aling-tile: left;
    --padding-container:50px 0;
    --width-container:97%;
    --max-width-container:1500px;
    --color-btn: #5ECDCC;
    --text-btn:#fff;
    --padding-btn:8px 15px;
    --height-shape: 25em ;
}
body{
    background:#e1ebf8 ;
}

/*esto se aplica a todos divs que tengan la clase container*/
.container{
    width:var(--width-container) ;
    max-width: var(--max-width-container);
    padding: var(--padding-container);
    margin: 0 auto;
    overflow: hidden;
}
/*esto es el logo y los links de encabezado*/
.logo{
    --padding-container:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_img{
    width: 50px;
}
.menu_text{
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    color: #000;
}

/*seccion header hero*/
.hero{
    height: 100vh;
    min-width: 50px;
    position: relative;
    --padding-container:0;
}
.hero_container{
    display: grid;
    height: 100%;
    grid-template-columns: 3fr 2fr;
    place-items: center;
    gap: 20px;
}
.hero_img{
    width: 95%;
}
.hero_title{
    font-size: 3rem;
    color: var(--color-title);
    cursor: pointer;
}
.hero_copy{
    margin: 25px 0;
    font-size: 1.2rem;
    color: var(--color-primary);
    cursor: pointer;
}
.hero::after{
    content: "";
    display: block;
    position: absolute;
    height: 400px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgb(255, 255, 255);
    z-index: -1;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}


/*diseño de los botones*/

.btn{
    display: inline-block;
    text-align: center;
    text-justify: center;
    margin-left: 10px;
   
}

.btn_text{
    text-decoration: none;
    color: var(--text-btn);
    font-size: 1.1rem;
    background: var(--color-btn);
    border-radius: 15px;
    padding: var(--padding-btn);
}

.btn_text:hover{
    background: none;
    outline: 1px solid var(--color-btn);
    color: var(--color-btn);
    transition: 0.3s;
}

/*seccion de main*/
.main{
   background-color: #fff;
}

.ceo{
    text-align: center;
    border-bottom: 2px solid #ccc;
    --padding-container: 20px 0 60px;
}
.ceo_container{
    width: 70%;
    margin: 0 auto;
}

.ceo_name{
    color: var(--color-primary);
    margin: 20px 0;
}
.ceo_tag{
    color: var(--color-btn);
    font-weight: 20px;
    color: var(--color-btn);
    margin-bottom: 20px;
}
.ceo_paragraph{
    text-align: left;
    line-height: 1.5;
    font-style: italic;
    color: #615a5a;
}
.ceo_img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;

}
/*seccion about*/
.about{
  display: grid;
  grid-template-columns: 5fr 4fr;
  place-items: center;

}
.about_title{
    color: var(--color-primary);
    text-align: center;
}
.about_paragraph{
    margin: 20px 0;
    line-height: 1.5;
    font-weight: 300;
}
.about_img{
    width: 95%;

}
.about_picture{
    text-align: center;
}

/*modifica las clases titulo*/

.title{
    width: 95%;
    text-align: var(--aling-tile);
    color: var(--color-title);
}
.title-border::after{
    content: "";
    display: block;
    width: 100px;
    margin-top: 20px;
    height: 4px;
    background: var(--color-primary);

}

/*seccion de card*/

.card{
    background: #f2f2f2;

}
.card_copy{
    margin-top: 20px;
}
/*centra las card en grid area*/
.card_container{
    width: 99%;
    margin: 0 auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    grid-template-areas: 
    ".      card1  .    "
    "card2  card1  card3"
    "card2  card4  card3"
    ".      card4  .    "
    ;
}
.card_item:nth-last-of-type(1){
    grid-area: card1;
}
.card_item:nth-last-of-type(2){
    grid-area: card2;
}
.card_item:nth-last-of-type(3){
    grid-area: card3;
}
.card_item:nth-last-of-type(4){
    grid-area: card4;
}
.card_img{
    background: var(--color-primary);
    margin-top: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_title{
    margin: 20px 0;
    font-size: 1.5rem;
    
}
.card_item{
    background: #fff;
    padding: 20px;
    border-top: 5px solid aquamarine;
    box-shadow: 0 0 3px rgba(0,0 , 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*seccion coure*/
.course{
    --color-title: #fff;
    --color-btn:#fff;
    --text-btn:var(--color-primary)
    color: var(--color-title);
    display: grid;
    grid-template-columns:repeat(5, 1fr) ;
    grid-template-rows: repeat(5 , 1fr);
    align-items: center;
}
.course_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #5ECDCC;

}
.course_picture{
    margin: 0;
    grid-column: 3 /-1;
    grid-row: 1 /-1;
}

.course_about{
    align-self: center;
    width: 97%;
    margin: 0 auto;
    padding: 30PX;
    box-shadow: 0 0 6px rgba(0,0 , 0, .5);
    background: var(--color-primary);
    grid-column: 1/4;
    grid-row: 2/5;

}